@model MvcProject.EntityLayer.Concrete.Category


@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Update Category Page</h2>

@using(Html.BeginForm("EditCategory","AdminCategory", FormMethod.Post))
{
    <div class="col-md-4">
        <div class="form-group">
            @Html.Label("Category Id")
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
            <br />
            @Html.Label("Category Name")
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            <br />
            @Html.Label("Category Description")
            @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
            <br />
            <button class="btn btn-success">Edit</button>
        </div>
    </div>
}

